### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
%matplotlib notebook

In [2]:
# Dependencies and Setup
import pandas as pd

#import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"


# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)


student_data = pd.read_csv(student_data_to_load)


#Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data,  how="left", on="school_name")

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
total_schools = len(school_data_complete["school_name"].unique())

total_students = len(school_data_complete["student_name"])
total_students_i = format(total_students, ",d")


total_budget = school_data_complete["budget"].unique()
total_budget = total_budget.sum()
#total_budget = format(total_budget, ",d")


avg_math_score = school_data_complete["math_score"].mean()
avg_math_score = format(avg_math_score, ".2f" )


avg_reading_score = school_data_complete["reading_score"].mean()
avg_reading_score = format(avg_reading_score, ".2f")



passing_math_students = len(school_data_complete.loc[school_data_complete["math_score"]>69])/(total_students)
passing_math_students_f = format(passing_math_students, ".2%")

passing_reading_students = len(school_data_complete.loc[school_data_complete["reading_score"]>69])/total_students
passing_reading_students_f = format(passing_reading_students, ".2%")

passing_rate = (float(passing_math_students) + float(passing_reading_students))/2
passing_rate = format(passing_rate, ".2%")


district_summary = pd.DataFrame({"Total Schools": total_schools,
                                 "Total Students": total_students_i,
                                 "Total Budget": total_budget,
                                 "Average Math Score": avg_math_score,
                                 "Average Reading Score": avg_reading_score,
                                 "Passing Math": passing_math_students_f,
                                 "Passing Reading": passing_reading_students_f,
                                 "Overall Passing Rate": [passing_rate]
                                })

district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,80.39%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [4]:
#schools = school_data_complete["school_name"].unique()
#print(schools)

HuangHS = school_data_complete.loc[school_data_complete["school_name"]=="Huang High School"]
HuangHS_name = HuangHS["school_name"].unique()
HuangHS_type = HuangHS["type"].unique()
HuangHS_total_students = HuangHS["size"].unique()
HuangHS_total_school_budget = HuangHS["budget"].unique()
HuangHS_per_student_budget = HuangHS_total_school_budget/HuangHS_total_students
HuangHS_avg_math = HuangHS["math_score"].mean()
HuangHS_avg_reading = HuangHS["reading_score"].mean()
HuangHS_passing_math = 100*(len(HuangHS.loc[HuangHS["math_score"]>69])/HuangHS_total_students)
HuangHS_passing_reading = 100*(len(HuangHS.loc[HuangHS["reading_score"]>69])/HuangHS_total_students)
HuangHS_passing_rate = (HuangHS_passing_math+HuangHS_passing_reading)/2

HuangHS_summary = pd.DataFrame({
    "School Name": HuangHS_name,
    "School Type": HuangHS_type,
    "Total Students": HuangHS_total_students,
    "Total School Budget": HuangHS_total_school_budget,
    "Budget Per Student": HuangHS_per_student_budget,
    "Average Math Score": HuangHS_avg_math,
    "Average Reading Score": HuangHS_avg_reading,
    "% Passing Math": HuangHS_passing_math,
    "% Passing Reading": HuangHS_passing_reading,
    "Overall Passing Rate": HuangHS_passing_rate
    
})


FigueroaHS = school_data_complete.loc[school_data_complete["school_name"]=="Figueroa High School"]
FigueroaHS_name = FigueroaHS["school_name"].unique()
FigueroaHS_type = FigueroaHS["type"].unique()
FigueroaHS_total_students = FigueroaHS["size"].unique()
FigueroaHS_total_school_budget = FigueroaHS["budget"].unique()
FigueroaHS_per_student_budget = FigueroaHS_total_school_budget/FigueroaHS_total_students
FigueroaHS_avg_math = FigueroaHS["math_score"].mean()
FigueroaHS_avg_reading = FigueroaHS["reading_score"].mean()
FigueroaHS_passing_math = 100*(len(FigueroaHS.loc[FigueroaHS["math_score"]>69])/FigueroaHS_total_students)
FigueroaHS_passing_reading = 100*(len(FigueroaHS.loc[FigueroaHS["reading_score"]>69])/FigueroaHS_total_students)
FigueroaHS_passing_rate = (FigueroaHS_passing_math+FigueroaHS_passing_reading)/2

FigueroaHS_summary = pd.DataFrame({
    "School Name": FigueroaHS_name,
    "School Type": FigueroaHS_type,
    "Total Students": FigueroaHS_total_students,
    "Total School Budget": FigueroaHS_total_school_budget,
    "Budget Per Student": FigueroaHS_per_student_budget,
    "Average Math Score": FigueroaHS_avg_math,
    "Average Reading Score": FigueroaHS_avg_reading,
    "% Passing Math": FigueroaHS_passing_math,
    "% Passing Reading": FigueroaHS_passing_reading,
    "Overall Passing Rate": FigueroaHS_passing_rate
    
})

SheltonHS = school_data_complete.loc[school_data_complete["school_name"]=="Shelton High School"]
SheltonHS_name = SheltonHS["school_name"].unique()
SheltonHS_type = SheltonHS["type"].unique()
SheltonHS_total_students = SheltonHS["size"].unique()
SheltonHS_total_school_budget = SheltonHS["budget"].unique()
SheltonHS_per_student_budget = SheltonHS_total_school_budget/SheltonHS_total_students
SheltonHS_avg_math = SheltonHS["math_score"].mean()
SheltonHS_avg_reading = SheltonHS["reading_score"].mean()
SheltonHS_passing_math = 100*(len(SheltonHS.loc[SheltonHS["math_score"]>69])/SheltonHS_total_students)
SheltonHS_passing_reading = 100*(len(SheltonHS.loc[SheltonHS["reading_score"]>69])/SheltonHS_total_students)
SheltonHS_passing_rate = (SheltonHS_passing_math+SheltonHS_passing_reading)/2

SheltonHS_summary = pd.DataFrame({
    "School Name": SheltonHS_name,
    "School Type": SheltonHS_type,
    "Total Students": SheltonHS_total_students,
    "Total School Budget": SheltonHS_total_school_budget,
    "Budget Per Student": SheltonHS_per_student_budget,
    "Average Math Score": SheltonHS_avg_math,
    "Average Reading Score": SheltonHS_avg_reading,
    "% Passing Math": SheltonHS_passing_math,
    "% Passing Reading": SheltonHS_passing_reading,
    "Overall Passing Rate": SheltonHS_passing_rate
    
})

HernandezHS = school_data_complete.loc[school_data_complete["school_name"]=="Hernandez High School"]
HernandezHS_name = HernandezHS["school_name"].unique()
HernandezHS_type = HernandezHS["type"].unique()
HernandezHS_total_students = HernandezHS["size"].unique()
HernandezHS_total_school_budget = HernandezHS["budget"].unique()
HernandezHS_per_student_budget = HernandezHS_total_school_budget/HernandezHS_total_students
HernandezHS_avg_math = HernandezHS["math_score"].mean()
HernandezHS_avg_reading = HernandezHS["reading_score"].mean()
HernandezHS_passing_math = 100*(len(HernandezHS.loc[HernandezHS["math_score"]>69])/HernandezHS_total_students)
HernandezHS_passing_reading = 100*(len(HernandezHS.loc[HernandezHS["reading_score"]>69])/HernandezHS_total_students)
HernandezHS_passing_rate = (HernandezHS_passing_math+HernandezHS_passing_reading)/2

HernandezHS_summary = pd.DataFrame({
    "School Name":HernandezHS_name,
    "School Type": HernandezHS_type,
    "Total Students": HernandezHS_total_students,
    "Total School Budget": HernandezHS_total_school_budget,
    "Budget Per Student": HernandezHS_per_student_budget,
    "Average Math Score": HernandezHS_avg_math,
    "Average Reading Score": HernandezHS_avg_reading,
    "% Passing Math": HernandezHS_passing_math,
    "% Passing Reading": HernandezHS_passing_reading,
    "Overall Passing Rate": HernandezHS_passing_rate
    
})

GriffinHS = school_data_complete.loc[school_data_complete["school_name"]=="Griffin High School"]
GriffinHS_name = GriffinHS["school_name"].unique()
GriffinHS_type = GriffinHS["type"].unique()
GriffinHS_total_students = GriffinHS["size"].unique()
GriffinHS_total_school_budget = GriffinHS["budget"].unique()
GriffinHS_per_student_budget = GriffinHS_total_school_budget/GriffinHS_total_students
GriffinHS_avg_math = GriffinHS["math_score"].mean()
GriffinHS_avg_reading = GriffinHS["reading_score"].mean()
GriffinHS_passing_math = 100*(len(GriffinHS.loc[GriffinHS["math_score"]>69])/GriffinHS_total_students)
GriffinHS_passing_reading = 100*(len(GriffinHS.loc[GriffinHS["reading_score"]>69])/GriffinHS_total_students)
GriffinHS_passing_rate = (GriffinHS_passing_math+GriffinHS_passing_reading)/2

GriffinHS_summary = pd.DataFrame({
    "School Name":GriffinHS_name,
    "School Type": GriffinHS_type,
    "Total Students": GriffinHS_total_students,
    "Total School Budget": GriffinHS_total_school_budget,
    "Budget Per Student": GriffinHS_per_student_budget,
    "Average Math Score": GriffinHS_avg_math,
    "Average Reading Score": GriffinHS_avg_reading,
    "% Passing Math": GriffinHS_passing_math,
    "% Passing Reading": GriffinHS_passing_reading,
    "Overall Passing Rate": GriffinHS_passing_rate
    
})

WilsonHS = school_data_complete.loc[school_data_complete["school_name"]=="Wilson High School"]
WilsonHS_name = WilsonHS["school_name"].unique()
WilsonHS_type = WilsonHS["type"].unique()
WilsonHS_total_students = WilsonHS["size"].unique()
WilsonHS_total_school_budget = WilsonHS["budget"].unique()
WilsonHS_per_student_budget = WilsonHS_total_school_budget/WilsonHS_total_students
WilsonHS_avg_math = WilsonHS["math_score"].mean()
WilsonHS_avg_reading = WilsonHS["reading_score"].mean()
WilsonHS_passing_math = 100*(len(WilsonHS.loc[WilsonHS["math_score"]>69])/WilsonHS_total_students)
WilsonHS_passing_reading = 100*(len(WilsonHS.loc[WilsonHS["reading_score"]>69])/WilsonHS_total_students)
WilsonHS_passing_rate = (WilsonHS_passing_math+WilsonHS_passing_reading)/2

WilsonHS_summary = pd.DataFrame({
    "School Name":WilsonHS_name,
    "School Type": WilsonHS_type,
    "Total Students": WilsonHS_total_students,
    "Total School Budget": WilsonHS_total_school_budget,
    "Budget Per Student": WilsonHS_per_student_budget,
    "Average Math Score": WilsonHS_avg_math,
    "Average Reading Score": WilsonHS_avg_reading,
    "% Passing Math": WilsonHS_passing_math,
    "% Passing Reading": WilsonHS_passing_reading,
    "Overall Passing Rate": WilsonHS_passing_rate
    
})

CabreraHS = school_data_complete.loc[school_data_complete["school_name"]=="Cabrera High School"]
CabreraHS_name = CabreraHS["school_name"].unique()
CabreraHS_type = CabreraHS["type"].unique()
CabreraHS_total_students = CabreraHS["size"].unique()
CabreraHS_total_school_budget = CabreraHS["budget"].unique()
CabreraHS_per_student_budget = CabreraHS_total_school_budget/CabreraHS_total_students
CabreraHS_avg_math = CabreraHS["math_score"].mean()
CabreraHS_avg_reading = CabreraHS["reading_score"].mean()
CabreraHS_passing_math = 100*(len(CabreraHS.loc[CabreraHS["math_score"]>69])/CabreraHS_total_students)
CabreraHS_passing_reading = 100*(len(CabreraHS.loc[CabreraHS["reading_score"]>69])/CabreraHS_total_students)
CabreraHS_passing_rate = (CabreraHS_passing_math+CabreraHS_passing_reading)/2

CabreraHS_summary = pd.DataFrame({
    "School Name":CabreraHS_name,
    "School Type": CabreraHS_type,
    "Total Students": CabreraHS_total_students,
    "Total School Budget": CabreraHS_total_school_budget,
    "Budget Per Student": CabreraHS_per_student_budget,
    "Average Math Score": CabreraHS_avg_math,
    "Average Reading Score": CabreraHS_avg_reading,
    "% Passing Math": CabreraHS_passing_math,
    "% Passing Reading": CabreraHS_passing_reading,
    "Overall Passing Rate": CabreraHS_passing_rate
    
})

BaileyHS = school_data_complete.loc[school_data_complete["school_name"]=="Bailey High School"]
BaileyHS_name = BaileyHS["school_name"].unique()
BaileyHS_type = BaileyHS["type"].unique()
BaileyHS_total_students = BaileyHS["size"].unique()
BaileyHS_total_school_budget = BaileyHS["budget"].unique()
BaileyHS_per_student_budget = BaileyHS_total_school_budget/BaileyHS_total_students
BaileyHS_avg_math = BaileyHS["math_score"].mean()
BaileyHS_avg_reading = BaileyHS["reading_score"].mean()
BaileyHS_passing_math = 100*(len(BaileyHS.loc[BaileyHS["math_score"]>69])/BaileyHS_total_students)
BaileyHS_passing_reading = 100*(len(BaileyHS.loc[BaileyHS["reading_score"]>69])/BaileyHS_total_students)
BaileyHS_passing_rate = (BaileyHS_passing_math+BaileyHS_passing_reading)/2

BaileyHS_summary = pd.DataFrame({
    "School Name":BaileyHS_name,
    "School Type": BaileyHS_type,
    "Total Students": BaileyHS_total_students,
    "Total School Budget": BaileyHS_total_school_budget,
    "Budget Per Student": BaileyHS_per_student_budget,
    "Average Math Score": BaileyHS_avg_math,
    "Average Reading Score": BaileyHS_avg_reading,
    "% Passing Math": BaileyHS_passing_math,
    "% Passing Reading": BaileyHS_passing_reading,
    "Overall Passing Rate": BaileyHS_passing_rate
    
})

HoldenHS = school_data_complete.loc[school_data_complete["school_name"]=="Holden High School"]
HoldenHS_name = HoldenHS["school_name"].unique()
HoldenHS_type = HoldenHS["type"].unique()
HoldenHS_total_students = HoldenHS["size"].unique()
HoldenHS_total_school_budget = HoldenHS["budget"].unique()
HoldenHS_per_student_budget = HoldenHS_total_school_budget/HoldenHS_total_students
HoldenHS_avg_math = HoldenHS["math_score"].mean()
HoldenHS_avg_reading = HoldenHS["reading_score"].mean()
HoldenHS_passing_math = 100*(len(HoldenHS.loc[HoldenHS["math_score"]>69])/HoldenHS_total_students)
HoldenHS_passing_reading = 100*(len(HoldenHS.loc[HoldenHS["reading_score"]>69])/HoldenHS_total_students)
HoldenHS_passing_rate = (HoldenHS_passing_math+HoldenHS_passing_reading)/2

HoldenHS_summary = pd.DataFrame({
    "School Name":HoldenHS_name,
    "School Type": HoldenHS_type,
    "Total Students": HoldenHS_total_students,
    "Total School Budget": HoldenHS_total_school_budget,
    "Budget Per Student": HoldenHS_per_student_budget,
    "Average Math Score": HoldenHS_avg_math,
    "Average Reading Score": HoldenHS_avg_reading,
    "% Passing Math": HoldenHS_passing_math,
    "% Passing Reading": HoldenHS_passing_reading,
    "Overall Passing Rate": HoldenHS_passing_rate
    
})

PenaHS = school_data_complete.loc[school_data_complete["school_name"]=="Pena High School"]
PenaHS_name = PenaHS["school_name"].unique()
PenaHS_type = PenaHS["type"].unique()
PenaHS_total_students = PenaHS["size"].unique()
PenaHS_total_school_budget = PenaHS["budget"].unique()
PenaHS_per_student_budget = PenaHS_total_school_budget/PenaHS_total_students
PenaHS_avg_math = PenaHS["math_score"].mean()
PenaHS_avg_reading = PenaHS["reading_score"].mean()
PenaHS_passing_math = 100*(len(PenaHS.loc[PenaHS["math_score"]>69])/PenaHS_total_students)
PenaHS_passing_reading = 100*(len(PenaHS.loc[PenaHS["reading_score"]>69])/PenaHS_total_students)
PenaHS_passing_rate = (PenaHS_passing_math+PenaHS_passing_reading)/2

PenaHS_summary = pd.DataFrame({
    "School Name":PenaHS_name,
    "School Type": PenaHS_type,
    "Total Students": PenaHS_total_students,
    "Total School Budget": PenaHS_total_school_budget,
    "Budget Per Student": PenaHS_per_student_budget,
    "Average Math Score": PenaHS_avg_math,
    "Average Reading Score": PenaHS_avg_reading,
    "% Passing Math": PenaHS_passing_math,
    "% Passing Reading": PenaHS_passing_reading,
    "Overall Passing Rate": PenaHS_passing_rate
    
})

WrightHS = school_data_complete.loc[school_data_complete["school_name"]=="Wright High School"]
WrightHS_name = WrightHS["school_name"].unique()
WrightHS_type = WrightHS["type"].unique()
WrightHS_total_students = WrightHS["size"].unique()
WrightHS_total_school_budget = WrightHS["budget"].unique()
WrightHS_per_student_budget = WrightHS_total_school_budget/WrightHS_total_students
WrightHS_avg_math = WrightHS["math_score"].mean()
WrightHS_avg_reading = WrightHS["reading_score"].mean()
WrightHS_passing_math = 100*(len(WrightHS.loc[WrightHS["math_score"]>69])/WrightHS_total_students)
WrightHS_passing_reading = 100*(len(WrightHS.loc[WrightHS["reading_score"]>69])/WrightHS_total_students)
WrightHS_passing_rate = (WrightHS_passing_math+WrightHS_passing_reading)/2

WrightHS_summary = pd.DataFrame({
    "School Name":WrightHS_name,
    "School Type": WrightHS_type,
    "Total Students": WrightHS_total_students,
    "Total School Budget": WrightHS_total_school_budget,
    "Budget Per Student": WrightHS_per_student_budget,
    "Average Math Score": WrightHS_avg_math,
    "Average Reading Score": WrightHS_avg_reading,
    "% Passing Math": WrightHS_passing_math,
    "% Passing Reading": WrightHS_passing_reading,
    "Overall Passing Rate": WrightHS_passing_rate
    
})

JohnsonHS = school_data_complete.loc[school_data_complete["school_name"]=="Johnson High School"]
JohnsonHS_name = JohnsonHS["school_name"].unique()
JohnsonHS_type = JohnsonHS["type"].unique()
JohnsonHS_total_students = JohnsonHS["size"].unique()
JohnsonHS_total_school_budget = JohnsonHS["budget"].unique()
JohnsonHS_per_student_budget = JohnsonHS_total_school_budget/JohnsonHS_total_students
JohnsonHS_avg_math = JohnsonHS["math_score"].mean()
JohnsonHS_avg_reading = JohnsonHS["reading_score"].mean()
JohnsonHS_passing_math = 100*(len(JohnsonHS.loc[JohnsonHS["math_score"]>69])/JohnsonHS_total_students)
JohnsonHS_passing_reading = 100*(len(JohnsonHS.loc[JohnsonHS["reading_score"]>69])/JohnsonHS_total_students)
JohnsonHS_passing_rate = (JohnsonHS_passing_math+JohnsonHS_passing_reading)/2

JohnsonHS_summary = pd.DataFrame({
    "School Name":JohnsonHS_name,
    "School Type": JohnsonHS_type,
    "Total Students": JohnsonHS_total_students,
    "Total School Budget": JohnsonHS_total_school_budget,
    "Budget Per Student": JohnsonHS_per_student_budget,
    "Average Math Score": JohnsonHS_avg_math,
    "Average Reading Score": JohnsonHS_avg_reading,
    "% Passing Math": JohnsonHS_passing_math,
    "% Passing Reading": JohnsonHS_passing_reading,
    "Overall Passing Rate": JohnsonHS_passing_rate
    
})

RodriguezHS = school_data_complete.loc[school_data_complete["school_name"]=="Rodriguez High School"]
RodriguezHS_name = RodriguezHS["school_name"].unique()
RodriguezHS_type = RodriguezHS["type"].unique()
RodriguezHS_total_students = RodriguezHS["size"].unique()
RodriguezHS_total_school_budget = RodriguezHS["budget"].unique()
RodriguezHS_per_student_budget = RodriguezHS_total_school_budget/RodriguezHS_total_students
RodriguezHS_avg_math = RodriguezHS["math_score"].mean()
RodriguezHS_avg_reading = RodriguezHS["reading_score"].mean()
RodriguezHS_passing_math = 100*(len(RodriguezHS.loc[RodriguezHS["math_score"]>69])/RodriguezHS_total_students)
RodriguezHS_passing_reading = 100*(len(RodriguezHS.loc[RodriguezHS["reading_score"]>69])/RodriguezHS_total_students)
RodriguezHS_passing_rate = (RodriguezHS_passing_math+RodriguezHS_passing_reading)/2

RodriguezHS_summary = pd.DataFrame({
    "School Name":RodriguezHS_name,
    "School Type": RodriguezHS_type,
    "Total Students": RodriguezHS_total_students,
    "Total School Budget": RodriguezHS_total_school_budget,
    "Budget Per Student": RodriguezHS_per_student_budget,
    "Average Math Score": RodriguezHS_avg_math,
    "Average Reading Score": RodriguezHS_avg_reading,
    "% Passing Math": RodriguezHS_passing_math,
    "% Passing Reading": RodriguezHS_passing_reading,
    "Overall Passing Rate": RodriguezHS_passing_rate
    
})

FordHS = school_data_complete.loc[school_data_complete["school_name"]=="Ford High School"]
FordHS_name = FordHS["school_name"].unique()
FordHS_type = FordHS["type"].unique()
FordHS_total_students = FordHS["size"].unique()
FordHS_total_school_budget = FordHS["budget"].unique()
FordHS_per_student_budget = FordHS_total_school_budget/FordHS_total_students
FordHS_avg_math = FordHS["math_score"].mean()
FordHS_avg_reading = FordHS["reading_score"].mean()
FordHS_passing_math = 100*(len(FordHS.loc[FordHS["math_score"]>69])/FordHS_total_students)
FordHS_passing_reading = 100*(len(FordHS.loc[FordHS["reading_score"]>69])/FordHS_total_students)
FordHS_passing_rate = (FordHS_passing_math+FordHS_passing_reading)/2

FordHS_summary = pd.DataFrame({
    "School Name":FordHS_name,
    "School Type": FordHS_type,
    "Total Students": FordHS_total_students,
    "Total School Budget": FordHS_total_school_budget,
    "Budget Per Student": FordHS_per_student_budget,
    "Average Math Score": FordHS_avg_math,
    "Average Reading Score": FordHS_avg_reading,
    "% Passing Math": FordHS_passing_math,
    "% Passing Reading": FordHS_passing_reading,
    "Overall Passing Rate": FordHS_passing_rate
    
})

ThomasHS = school_data_complete.loc[school_data_complete["school_name"]=="Thomas High School"]
ThomasHS_name = ThomasHS["school_name"].unique()
ThomasHS_type = ThomasHS["type"].unique()
ThomasHS_total_students =ThomasHS["size"].unique()
ThomasHS_total_school_budget = ThomasHS["budget"].unique()
ThomasHS_per_student_budget = ThomasHS_total_school_budget/ThomasHS_total_students
ThomasHS_avg_math = ThomasHS["math_score"].mean()
ThomasHS_avg_reading = ThomasHS["reading_score"].mean()
ThomasHS_passing_math = 100*(len(ThomasHS.loc[ThomasHS["math_score"]>69])/ThomasHS_total_students)
ThomasHS_passing_reading = 100*(len(ThomasHS.loc[ThomasHS["reading_score"]>69])/ThomasHS_total_students)
ThomasHS_passing_rate = (ThomasHS_passing_math+ThomasHS_passing_reading)/2

ThomasHS_summary = pd.DataFrame({
    "School Name":ThomasHS_name,
    "School Type": ThomasHS_type,
    "Total Students": ThomasHS_total_students,
    "Total School Budget": ThomasHS_total_school_budget,
    "Budget Per Student": ThomasHS_per_student_budget,
    "Average Math Score": ThomasHS_avg_math,
    "Average Reading Score": ThomasHS_avg_reading,
    "% Passing Math": ThomasHS_passing_math,
    "% Passing Reading": ThomasHS_passing_reading,
    "Overall Passing Rate": ThomasHS_passing_rate
    
})
    
schools_summary = pd.concat([HuangHS_summary,FigueroaHS_summary,SheltonHS_summary,HernandezHS_summary,
                             GriffinHS_summary,WilsonHS_summary, CabreraHS_summary, BaileyHS_summary,
                            HoldenHS_summary, PenaHS_summary, WrightHS_summary, RodriguezHS_summary,
                            JohnsonHS_summary, FordHS_summary, ThomasHS_summary], axis=0, ignore_index=True)

#schools_summary["Budget Per Student"] = schools_summary["Budget Per Student"].map("${:,.2f}".format)
schools_summary["Total School Budget"] = schools_summary["Total School Budget"].map("${:,.2f}".format)


schools_summary.set_index("School Name").head(5)

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,95.265668

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [5]:
top_schools = schools_summary.sort_values("Overall Passing Rate", ascending=False)
top_schools.set_index("School Name").head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [6]:
bottom_schools = schools_summary.sort_values("Overall Passing Rate", ascending=True)
bottom_schools.set_index("School Name").head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [7]:
huang_9th= HuangHS.loc[HuangHS["grade"]=="9th"]
huang_9th_avg_math = huang_9th["math_score"].mean()
huang_10th= HuangHS.loc[HuangHS["grade"]=="10th"]
huang_10th_avg_math = huang_10th["math_score"].mean()
huang_11th= HuangHS.loc[HuangHS["grade"]=="11th"]
huang_11th_avg_math = huang_11th["math_score"].mean()
huang_12th= HuangHS.loc[HuangHS["grade"]=="12th"]
huang_12th_avg_math = huang_12th["math_score"].mean()

Huang_math = pd.DataFrame({
    "School Name": HuangHS_name,
    "9th": huang_9th_avg_math,
    "10th": huang_10th_avg_math,
    "11th": huang_11th_avg_math,
    "12th": [huang_12th_avg_math]
})


figueroa_9th= FigueroaHS.loc[FigueroaHS["grade"]=="9th"]
figueroa_9th_avg_math = figueroa_9th["math_score"].mean()
figueroa_10th= FigueroaHS.loc[FigueroaHS["grade"]=="10th"]
figueroa_10th_avg_math = figueroa_10th["math_score"].mean()
figueroa_11th= FigueroaHS.loc[FigueroaHS["grade"]=="11th"]
figueroa_11th_avg_math = figueroa_11th["math_score"].mean()
figueroa_12th= FigueroaHS.loc[FigueroaHS["grade"]=="12th"]
figueroa_12th_avg_math = figueroa_12th["math_score"].mean()

Figueroa_math = pd.DataFrame({
    "School Name": FigueroaHS_name,
    "9th": figueroa_9th_avg_math,
    "10th": figueroa_10th_avg_math,
    "11th": figueroa_11th_avg_math,
    "12th": [figueroa_12th_avg_math]
})

shelton_9th= SheltonHS.loc[SheltonHS["grade"]=="9th"]
shelton_9th_avg_math = shelton_9th["math_score"].mean()
shelton_10th= SheltonHS.loc[SheltonHS["grade"]=="10th"]
shelton_10th_avg_math = shelton_10th["math_score"].mean()
shelton_11th= SheltonHS.loc[SheltonHS["grade"]=="11th"]
shelton_11th_avg_math = shelton_11th["math_score"].mean()
shelton_12th= SheltonHS.loc[SheltonHS["grade"]=="12th"]
shelton_12th_avg_math = shelton_12th["math_score"].mean()

Shelton_math = pd.DataFrame({
    "School Name": SheltonHS_name,
    "9th": shelton_9th_avg_math,
    "10th": shelton_10th_avg_math,
    "11th": shelton_11th_avg_math,
    "12th": [shelton_12th_avg_math]
})

hernandez_9th= HernandezHS.loc[HernandezHS["grade"]=="9th"]
hernandez_9th_avg_math = hernandez_9th["math_score"].mean()
hernandez_10th= HernandezHS.loc[HernandezHS["grade"]=="10th"]
hernandez_10th_avg_math = hernandez_10th["math_score"].mean()
hernandez_11th= HernandezHS.loc[HernandezHS["grade"]=="11th"]
hernandez_11th_avg_math = hernandez_11th["math_score"].mean()
hernandez_12th= HernandezHS.loc[HernandezHS["grade"]=="12th"]
hernandez_12th_avg_math = hernandez_12th["math_score"].mean()

Hernandez_math = pd.DataFrame({
    "School Name": HernandezHS_name,
    "9th": hernandez_9th_avg_math,
    "10th": hernandez_10th_avg_math,
    "11th": hernandez_11th_avg_math,
    "12th": [hernandez_12th_avg_math]
})

griffin_9th= GriffinHS.loc[GriffinHS["grade"]=="9th"]
griffin_9th_avg_math = griffin_9th["math_score"].mean()
griffin_10th= GriffinHS.loc[GriffinHS["grade"]=="10th"]
griffin_10th_avg_math = griffin_10th["math_score"].mean()
griffin_11th= GriffinHS.loc[GriffinHS["grade"]=="11th"]
griffin_11th_avg_math = griffin_11th["math_score"].mean()
griffin_12th= GriffinHS.loc[GriffinHS["grade"]=="12th"]
griffin_12th_avg_math = griffin_12th["math_score"].mean()

Griffin_math = pd.DataFrame({
    "School Name": GriffinHS_name,
    "9th": griffin_9th_avg_math,
    "10th": griffin_10th_avg_math,
    "11th": griffin_11th_avg_math,
    "12th": [griffin_12th_avg_math]
})

wilson_9th= WilsonHS.loc[WilsonHS["grade"]=="9th"]
wilson_9th_avg_math = wilson_9th["math_score"].mean()
wilson_10th= WilsonHS.loc[WilsonHS["grade"]=="10th"]
wilson_10th_avg_math = wilson_10th["math_score"].mean()
wilson_11th= WilsonHS.loc[WilsonHS["grade"]=="11th"]
wilson_11th_avg_math = wilson_11th["math_score"].mean()
wilson_12th= WilsonHS.loc[WilsonHS["grade"]=="12th"]
wilson_12th_avg_math = wilson_12th["math_score"].mean()

Wilson_math = pd.DataFrame({
    "School Name": WilsonHS_name,
    "9th": wilson_9th_avg_math,
    "10th": wilson_10th_avg_math,
    "11th": wilson_11th_avg_math,
    "12th": [wilson_12th_avg_math]
})

bailey_9th= BaileyHS.loc[BaileyHS["grade"]=="9th"]
bailey_9th_avg_math = bailey_9th["math_score"].mean()
bailey_10th= BaileyHS.loc[BaileyHS["grade"]=="10th"]
bailey_10th_avg_math = bailey_10th["math_score"].mean()
bailey_11th= BaileyHS.loc[BaileyHS["grade"]=="11th"]
bailey_11th_avg_math = bailey_11th["math_score"].mean()
bailey_12th= BaileyHS.loc[BaileyHS["grade"]=="12th"]
bailey_12th_avg_math = bailey_12th["math_score"].mean()

Bailey_math = pd.DataFrame({
    "School Name": BaileyHS_name,
    "9th": bailey_9th_avg_math,
    "10th": bailey_10th_avg_math,
    "11th": bailey_11th_avg_math,
    "12th": [bailey_12th_avg_math]
})

cabrera_9th= CabreraHS.loc[CabreraHS["grade"]=="9th"]
cabrera_9th_avg_math = cabrera_9th["math_score"].mean()
cabrera_10th= CabreraHS.loc[CabreraHS["grade"]=="10th"]
cabrera_10th_avg_math = cabrera_10th["math_score"].mean()
cabrera_11th= CabreraHS.loc[CabreraHS["grade"]=="11th"]
cabrera_11th_avg_math = cabrera_11th["math_score"].mean()
cabrera_12th= CabreraHS.loc[CabreraHS["grade"]=="12th"]
cabrera_12th_avg_math = cabrera_12th["math_score"].mean()

Cabrera_math = pd.DataFrame({
    "School Name": CabreraHS_name,
    "9th": cabrera_9th_avg_math,
    "10th": cabrera_10th_avg_math,
    "11th": cabrera_11th_avg_math,
    "12th": [cabrera_12th_avg_math]
})

holden_9th= HoldenHS.loc[HoldenHS["grade"]=="9th"]
holden_9th_avg_math = holden_9th["math_score"].mean()
holden_10th= HoldenHS.loc[HoldenHS["grade"]=="10th"]
holden_10th_avg_math = holden_10th["math_score"].mean()
holden_11th= HoldenHS.loc[HoldenHS["grade"]=="11th"]
holden_11th_avg_math = holden_11th["math_score"].mean()
holden_12th= HoldenHS.loc[HoldenHS["grade"]=="12th"]
holden_12th_avg_math = holden_12th["math_score"].mean()

Holden_math = pd.DataFrame({
    "School Name": HoldenHS_name,
    "9th": holden_9th_avg_math,
    "10th": holden_10th_avg_math,
    "11th": holden_11th_avg_math,
    "12th": [holden_12th_avg_math]
})

pena_9th= PenaHS.loc[PenaHS["grade"]=="9th"]
pena_9th_avg_math = pena_9th["math_score"].mean()
pena_10th= PenaHS.loc[PenaHS["grade"]=="10th"]
pena_10th_avg_math = pena_10th["math_score"].mean()
pena_11th= PenaHS.loc[PenaHS["grade"]=="11th"]
pena_11th_avg_math = pena_11th["math_score"].mean()
pena_12th= PenaHS.loc[PenaHS["grade"]=="12th"]
pena_12th_avg_math = pena_12th["math_score"].mean()

Pena_math = pd.DataFrame({
    "School Name": PenaHS_name,
    "9th": pena_9th_avg_math,
    "10th": pena_10th_avg_math,
    "11th": pena_11th_avg_math,
    "12th": [pena_12th_avg_math]
})

wright_9th= WrightHS.loc[WrightHS["grade"]=="9th"]
wright_9th_avg_math = wright_9th["math_score"].mean()
wright_10th= WrightHS.loc[WrightHS["grade"]=="10th"]
wright_10th_avg_math = wright_10th["math_score"].mean()
wright_11th= WrightHS.loc[WrightHS["grade"]=="11th"]
wright_11th_avg_math = wright_11th["math_score"].mean()
wright_12th= WrightHS.loc[WrightHS["grade"]=="12th"]
wright_12th_avg_math = wright_12th["math_score"].mean()

Wright_math = pd.DataFrame({
    "School Name": WrightHS_name,
    "9th": wright_9th_avg_math,
    "10th": wright_10th_avg_math,
    "11th": wright_11th_avg_math,
    "12th": [wright_12th_avg_math]
})

rodriguez_9th= RodriguezHS.loc[RodriguezHS["grade"]=="9th"]
rodriguez_9th_avg_math = rodriguez_9th["math_score"].mean()
rodriguez_10th= RodriguezHS.loc[RodriguezHS["grade"]=="10th"]
rodriguez_10th_avg_math = rodriguez_10th["math_score"].mean()
rodriguez_11th= RodriguezHS.loc[RodriguezHS["grade"]=="11th"]
rodriguez_11th_avg_math = rodriguez_11th["math_score"].mean()
rodriguez_12th= RodriguezHS.loc[RodriguezHS["grade"]=="12th"]
rodriguez_12th_avg_math = rodriguez_12th["math_score"].mean()

Rodriguez_math = pd.DataFrame({
    "School Name": RodriguezHS_name,
    "9th": rodriguez_9th_avg_math,
    "10th": rodriguez_10th_avg_math,
    "11th": rodriguez_11th_avg_math,
    "12th": [rodriguez_12th_avg_math]
})

johnson_9th= JohnsonHS.loc[JohnsonHS["grade"]=="9th"]
johnson_9th_avg_math = johnson_9th["math_score"].mean()
johnson_10th= JohnsonHS.loc[JohnsonHS["grade"]=="10th"]
johnson_10th_avg_math = johnson_10th["math_score"].mean()
johnson_11th= JohnsonHS.loc[JohnsonHS["grade"]=="11th"]
johnson_11th_avg_math = johnson_11th["math_score"].mean()
johnson_12th= JohnsonHS.loc[JohnsonHS["grade"]=="12th"]
johnson_12th_avg_math = johnson_12th["math_score"].mean()

Johnson_math = pd.DataFrame({
    "School Name": JohnsonHS_name,
    "9th": johnson_9th_avg_math,
    "10th": johnson_10th_avg_math,
    "11th": johnson_11th_avg_math,
    "12th": [johnson_12th_avg_math]
})

ford_9th= FordHS.loc[FordHS["grade"]=="9th"]
ford_9th_avg_math = ford_9th["math_score"].mean()
ford_10th= FordHS.loc[FordHS["grade"]=="10th"]
ford_10th_avg_math = ford_10th["math_score"].mean()
ford_11th= FordHS.loc[FordHS["grade"]=="11th"]
ford_11th_avg_math = ford_11th["math_score"].mean()
ford_12th= FordHS.loc[FordHS["grade"]=="12th"]
ford_12th_avg_math = ford_12th["math_score"].mean()

Ford_math = pd.DataFrame({
    "School Name": FordHS_name,
    "9th": ford_9th_avg_math,
    "10th": ford_10th_avg_math,
    "11th": ford_11th_avg_math,
    "12th": [ford_12th_avg_math]
})

thomas_9th= ThomasHS.loc[ThomasHS["grade"]=="9th"]
thomas_9th_avg_math = thomas_9th["math_score"].mean()
thomas_10th= ThomasHS.loc[ThomasHS["grade"]=="10th"]
thomas_10th_avg_math = thomas_10th["math_score"].mean()
thomas_11th= ThomasHS.loc[ThomasHS["grade"]=="11th"]
thomas_11th_avg_math = thomas_11th["math_score"].mean()
thomas_12th= ThomasHS.loc[ThomasHS["grade"]=="12th"]
thomas_12th_avg_math = thomas_12th["math_score"].mean()

Thomas_math = pd.DataFrame({
    "School Name": ThomasHS_name,
    "9th": thomas_9th_avg_math,
    "10th": thomas_10th_avg_math,
    "11th": thomas_11th_avg_math,
    "12th": [thomas_12th_avg_math]
})








schools_math = pd.concat([Bailey_math, Cabrera_math, Figueroa_math, Ford_math,
                             Griffin_math, Hernandez_math, Holden_math, Huang_math, 
                             Johnson_math, Pena_math, Rodriguez_math, Shelton_math, 
                             Thomas_math, Wilson_math, Wright_math], axis=0, ignore_index=True)

schools_math.set_index("School Name")

                             9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [8]:
huang_9th= HuangHS.loc[HuangHS["grade"]=="9th"]
huang_9th_avg_reading = huang_9th["reading_score"].mean()
huang_10th= HuangHS.loc[HuangHS["grade"]=="10th"]
huang_10th_avg_reading = huang_10th["reading_score"].mean()
huang_11th= HuangHS.loc[HuangHS["grade"]=="11th"]
huang_11th_avg_reading = huang_11th["reading_score"].mean()
huang_12th= HuangHS.loc[HuangHS["grade"]=="12th"]
huang_12th_avg_reading = huang_12th["reading_score"].mean()

Huang_reading = pd.DataFrame({
    "School Name": HuangHS_name,
    "9th": huang_9th_avg_reading,
    "10th": huang_10th_avg_reading,
    "11th": huang_11th_avg_reading,
    "12th": [huang_12th_avg_reading]
})


figueroa_9th= FigueroaHS.loc[FigueroaHS["grade"]=="9th"]
figueroa_9th_avg_reading = figueroa_9th["reading_score"].mean()
figueroa_10th= FigueroaHS.loc[FigueroaHS["grade"]=="10th"]
figueroa_10th_avg_reading = figueroa_10th["reading_score"].mean()
figueroa_11th= FigueroaHS.loc[FigueroaHS["grade"]=="11th"]
figueroa_11th_avg_reading = figueroa_11th["reading_score"].mean()
figueroa_12th= FigueroaHS.loc[FigueroaHS["grade"]=="12th"]
figueroa_12th_avg_reading = figueroa_12th["reading_score"].mean()

Figueroa_reading = pd.DataFrame({
    "School Name": FigueroaHS_name,
    "9th": figueroa_9th_avg_reading,
    "10th": figueroa_10th_avg_reading,
    "11th": figueroa_11th_avg_reading,
    "12th": [figueroa_12th_avg_reading]
})

shelton_9th= SheltonHS.loc[SheltonHS["grade"]=="9th"]
shelton_9th_avg_reading = shelton_9th["reading_score"].mean()
shelton_10th= SheltonHS.loc[SheltonHS["grade"]=="10th"]
shelton_10th_avg_reading = shelton_10th["reading_score"].mean()
shelton_11th= SheltonHS.loc[SheltonHS["grade"]=="11th"]
shelton_11th_avg_reading = shelton_11th["reading_score"].mean()
shelton_12th= SheltonHS.loc[SheltonHS["grade"]=="12th"]
shelton_12th_avg_reading = shelton_12th["reading_score"].mean()

Shelton_reading = pd.DataFrame({
    "School Name": SheltonHS_name,
    "9th": shelton_9th_avg_reading,
    "10th": shelton_10th_avg_reading,
    "11th": shelton_11th_avg_reading,
    "12th": [shelton_12th_avg_reading]
})

hernandez_9th= HernandezHS.loc[HernandezHS["grade"]=="9th"]
hernandez_9th_avg_reading = hernandez_9th["reading_score"].mean()
hernandez_10th= HernandezHS.loc[HernandezHS["grade"]=="10th"]
hernandez_10th_avg_reading = hernandez_10th["reading_score"].mean()
hernandez_11th= HernandezHS.loc[HernandezHS["grade"]=="11th"]
hernandez_11th_avg_reading = hernandez_11th["reading_score"].mean()
hernandez_12th= HernandezHS.loc[HernandezHS["grade"]=="12th"]
hernandez_12th_avg_reading = hernandez_12th["reading_score"].mean()

Hernandez_reading = pd.DataFrame({
    "School Name": HernandezHS_name,
    "9th": hernandez_9th_avg_reading,
    "10th": hernandez_10th_avg_reading,
    "11th": hernandez_11th_avg_reading,
    "12th": [hernandez_12th_avg_reading]
})

griffin_9th= GriffinHS.loc[GriffinHS["grade"]=="9th"]
griffin_9th_avg_reading = griffin_9th["reading_score"].mean()
griffin_10th= GriffinHS.loc[GriffinHS["grade"]=="10th"]
griffin_10th_avg_reading = griffin_10th["reading_score"].mean()
griffin_11th= GriffinHS.loc[GriffinHS["grade"]=="11th"]
griffin_11th_avg_reading = griffin_11th["reading_score"].mean()
griffin_12th= GriffinHS.loc[GriffinHS["grade"]=="12th"]
griffin_12th_avg_reading = griffin_12th["reading_score"].mean()

Griffin_reading = pd.DataFrame({
    "School Name": GriffinHS_name,
    "9th": griffin_9th_avg_reading,
    "10th": griffin_10th_avg_reading,
    "11th": griffin_11th_avg_reading,
    "12th": [griffin_12th_avg_reading]
})

wilson_9th= WilsonHS.loc[WilsonHS["grade"]=="9th"]
wilson_9th_avg_reading = wilson_9th["reading_score"].mean()
wilson_10th= WilsonHS.loc[WilsonHS["grade"]=="10th"]
wilson_10th_avg_reading = wilson_10th["reading_score"].mean()
wilson_11th= WilsonHS.loc[WilsonHS["grade"]=="11th"]
wilson_11th_avg_reading = wilson_11th["reading_score"].mean()
wilson_12th= WilsonHS.loc[WilsonHS["grade"]=="12th"]
wilson_12th_avg_reading = wilson_12th["reading_score"].mean()

Wilson_reading = pd.DataFrame({
    "School Name": WilsonHS_name,
    "9th": wilson_9th_avg_reading,
    "10th": wilson_10th_avg_reading,
    "11th": wilson_11th_avg_reading,
    "12th": [wilson_12th_avg_reading]
})

bailey_9th= BaileyHS.loc[BaileyHS["grade"]=="9th"]
bailey_9th_avg_reading = bailey_9th["reading_score"].mean()
bailey_10th= BaileyHS.loc[BaileyHS["grade"]=="10th"]
bailey_10th_avg_reading = bailey_10th["reading_score"].mean()
bailey_11th= BaileyHS.loc[BaileyHS["grade"]=="11th"]
bailey_11th_avg_reading = bailey_11th["reading_score"].mean()
bailey_12th= BaileyHS.loc[BaileyHS["grade"]=="12th"]
bailey_12th_avg_reading = bailey_12th["reading_score"].mean()

Bailey_reading = pd.DataFrame({
    "School Name": BaileyHS_name,
    "9th": bailey_9th_avg_reading,
    "10th": bailey_10th_avg_reading,
    "11th": bailey_11th_avg_reading,
    "12th": [bailey_12th_avg_reading]
})

cabrera_9th= CabreraHS.loc[CabreraHS["grade"]=="9th"]
cabrera_9th_avg_reading = cabrera_9th["reading_score"].mean()
cabrera_10th= CabreraHS.loc[CabreraHS["grade"]=="10th"]
cabrera_10th_avg_reading = cabrera_10th["reading_score"].mean()
cabrera_11th= CabreraHS.loc[CabreraHS["grade"]=="11th"]
cabrera_11th_avg_reading = cabrera_11th["reading_score"].mean()
cabrera_12th= CabreraHS.loc[CabreraHS["grade"]=="12th"]
cabrera_12th_avg_reading = cabrera_12th["reading_score"].mean()

Cabrera_reading = pd.DataFrame({
    "School Name": CabreraHS_name,
    "9th": cabrera_9th_avg_reading,
    "10th": cabrera_10th_avg_reading,
    "11th": cabrera_11th_avg_reading,
    "12th": [cabrera_12th_avg_reading]
})

holden_9th= HoldenHS.loc[HoldenHS["grade"]=="9th"]
holden_9th_avg_reading = holden_9th["reading_score"].mean()
holden_10th= HoldenHS.loc[HoldenHS["grade"]=="10th"]
holden_10th_avg_reading = holden_10th["reading_score"].mean()
holden_11th= HoldenHS.loc[HoldenHS["grade"]=="11th"]
holden_11th_avg_reading = holden_11th["reading_score"].mean()
holden_12th= HoldenHS.loc[HoldenHS["grade"]=="12th"]
holden_12th_avg_reading = holden_12th["reading_score"].mean()

Holden_reading = pd.DataFrame({
    "School Name": HoldenHS_name,
    "9th": holden_9th_avg_reading,
    "10th": holden_10th_avg_reading,
    "11th": holden_11th_avg_reading,
    "12th": [holden_12th_avg_reading]
})

pena_9th= PenaHS.loc[PenaHS["grade"]=="9th"]
pena_9th_avg_reading = pena_9th["reading_score"].mean()
pena_10th= PenaHS.loc[PenaHS["grade"]=="10th"]
pena_10th_avg_reading = pena_10th["reading_score"].mean()
pena_11th= PenaHS.loc[PenaHS["grade"]=="11th"]
pena_11th_avg_reading = pena_11th["reading_score"].mean()
pena_12th= PenaHS.loc[PenaHS["grade"]=="12th"]
pena_12th_avg_reading = pena_12th["reading_score"].mean()

Pena_reading = pd.DataFrame({
    "School Name": PenaHS_name,
    "9th": pena_9th_avg_reading,
    "10th": pena_10th_avg_reading,
    "11th": pena_11th_avg_reading,
    "12th": [pena_12th_avg_reading]
})

wright_9th= WrightHS.loc[WrightHS["grade"]=="9th"]
wright_9th_avg_reading = wright_9th["reading_score"].mean()
wright_10th= WrightHS.loc[WrightHS["grade"]=="10th"]
wright_10th_avg_reading = wright_10th["reading_score"].mean()
wright_11th= WrightHS.loc[WrightHS["grade"]=="11th"]
wright_11th_avg_reading = wright_11th["reading_score"].mean()
wright_12th= WrightHS.loc[WrightHS["grade"]=="12th"]
wright_12th_avg_reading = wright_12th["reading_score"].mean()

Wright_reading = pd.DataFrame({
    "School Name": WrightHS_name,
    "9th": wright_9th_avg_reading,
    "10th": wright_10th_avg_reading,
    "11th": wright_11th_avg_reading,
    "12th": [wright_12th_avg_reading]
})

rodriguez_9th= RodriguezHS.loc[RodriguezHS["grade"]=="9th"]
rodriguez_9th_avg_reading = rodriguez_9th["reading_score"].mean()
rodriguez_10th= RodriguezHS.loc[RodriguezHS["grade"]=="10th"]
rodriguez_10th_avg_reading = rodriguez_10th["reading_score"].mean()
rodriguez_11th= RodriguezHS.loc[RodriguezHS["grade"]=="11th"]
rodriguez_11th_avg_reading = rodriguez_11th["reading_score"].mean()
rodriguez_12th= RodriguezHS.loc[RodriguezHS["grade"]=="12th"]
rodriguez_12th_avg_reading = rodriguez_12th["reading_score"].mean()

Rodriguez_reading = pd.DataFrame({
    "School Name": RodriguezHS_name,
    "9th": rodriguez_9th_avg_reading,
    "10th": rodriguez_10th_avg_reading,
    "11th": rodriguez_11th_avg_reading,
    "12th": [rodriguez_12th_avg_reading]
})

johnson_9th= JohnsonHS.loc[JohnsonHS["grade"]=="9th"]
johnson_9th_avg_reading = johnson_9th["reading_score"].mean()
johnson_10th= JohnsonHS.loc[JohnsonHS["grade"]=="10th"]
johnson_10th_avg_reading = johnson_10th["reading_score"].mean()
johnson_11th= JohnsonHS.loc[JohnsonHS["grade"]=="11th"]
johnson_11th_avg_reading = johnson_11th["reading_score"].mean()
johnson_12th= JohnsonHS.loc[JohnsonHS["grade"]=="12th"]
johnson_12th_avg_reading = johnson_12th["reading_score"].mean()

Johnson_reading = pd.DataFrame({
    "School Name": JohnsonHS_name,
    "9th": johnson_9th_avg_reading,
    "10th": johnson_10th_avg_reading,
    "11th": johnson_11th_avg_reading,
    "12th": [johnson_12th_avg_reading]
})

ford_9th= FordHS.loc[FordHS["grade"]=="9th"]
ford_9th_avg_reading = ford_9th["reading_score"].mean()
ford_10th= FordHS.loc[FordHS["grade"]=="10th"]
ford_10th_avg_reading = ford_10th["reading_score"].mean()
ford_11th= FordHS.loc[FordHS["grade"]=="11th"]
ford_11th_avg_reading = ford_11th["reading_score"].mean()
ford_12th= FordHS.loc[FordHS["grade"]=="12th"]
ford_12th_avg_reading = ford_12th["reading_score"].mean()

Ford_reading = pd.DataFrame({
    "School Name": FordHS_name,
    "9th": ford_9th_avg_reading,
    "10th": ford_10th_avg_reading,
    "11th": ford_11th_avg_reading,
    "12th": [ford_12th_avg_reading]
})

thomas_9th= ThomasHS.loc[ThomasHS["grade"]=="9th"]
thomas_9th_avg_reading = thomas_9th["reading_score"].mean()
thomas_10th= ThomasHS.loc[ThomasHS["grade"]=="10th"]
thomas_10th_avg_reading = thomas_10th["reading_score"].mean()
thomas_11th= ThomasHS.loc[ThomasHS["grade"]=="11th"]
thomas_11th_avg_reading = thomas_11th["reading_score"].mean()
thomas_12th= ThomasHS.loc[ThomasHS["grade"]=="12th"]
thomas_12th_avg_reading = thomas_12th["reading_score"].mean()

Thomas_reading = pd.DataFrame({
    "School Name": ThomasHS_name,
    "9th": thomas_9th_avg_reading,
    "10th": thomas_10th_avg_reading,
    "11th": thomas_11th_avg_reading,
    "12th": [thomas_12th_avg_reading]
})








schools_reading = pd.concat([Bailey_reading, Cabrera_reading, Figueroa_reading, Ford_reading,
                             Griffin_reading, Hernandez_reading, Holden_reading, Huang_reading, 
                             Johnson_reading, Pena_reading, Rodriguez_reading, Shelton_reading, 
                             Thomas_reading, Wilson_reading, Wright_reading], axis=0, ignore_index=True)

schools_math.set_index("School Name")

                             9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [9]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [10]:
#schools_summary["Budget Per Student"] = str(schools_summary["Budget Per Student"])


schools_summary["Spending Ranges(Per Student)"] = pd.cut(schools_summary["Budget Per Student"], spending_bins, labels=group_names)
schools = schools_summary.groupby("Spending Ranges(Per Student)")

schools_1 = schools_summary.groupby("Spending Ranges(Per Student)").size()
print(schools_1)


schools_spending = pd.DataFrame({
                        
                        "Average Math Score": schools["Average Math Score"].mean(),
                        "Average Reading Score": schools["Average Reading Score"].mean(),
                        "% Passing Math": schools["% Passing Math"].mean(),
                        "% Passing Reading": schools["% Passing Reading"].mean(),
                        "Overall Passing Rate": schools["Overall Passing Rate"].mean()
                        
})

schools_spending

Spending Ranges(Per Student)
<$585       4
$585-615    2
$615-645    6
$645-675    3
dtype: int64

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges(Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [11]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 3500, 5000]
group_names = ["Small (<1000)",  "Medium (1000-2000)", "Large (2000-3500)", "Very Large (3500-5000)"]

In [12]:
schools_summary["School Size"] = pd.cut(schools_summary["Total Students"], size_bins, labels=group_names)

schools_s = schools_summary.groupby("School Size")
schools_ss = schools_summary.groupby("School Size").size()
print(schools_ss)


schools_size = pd.DataFrame({
                        
                         "Average Math Score": schools_s["Average Math Score"].mean(),
                         "Average Reading Score": schools_s["Average Reading Score"].mean(),
                         "% Passing Math": schools_s["% Passing Math"].mean(),
                         "% Passing Reading": schools_s["% Passing Reading"].mean(),
                         "Overall Passing Rate": schools_s["Overall Passing Rate"].mean()
                         
})

schools_size

School Size
Small (<1000)             2
Medium (1000-2000)        5
Large (2000-3500)         4
Very Large (3500-5000)    4
dtype: int64

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-3500),78.429493,81.769122,73.462428,84.473577,78.968003
Very Large (3500-5000),77.063340,80.919864,66.464293,81.059691,73.761992

## Scores by School Type

* Perform the same operations as above, based on school type.

In [13]:
schools_t = schools_summary.groupby("School Type")
schools_2 = schools_summary.groupby("School Type").size()
print(schools_2)

School Type
Charter     8
District    7
dtype: int64

In [14]:
schools_type = pd.DataFrame({
                        
                         "Average Math Score": schools_t["Average Math Score"].mean(),
                         "Average Reading Score": schools_t["Average Reading Score"].mean(),
                         "% Passing Math": schools_t["% Passing Math"].mean(),
                         "% Passing Reading": schools_t["% Passing Reading"].mean(),
                         "Overall Passing Rate": schools_t["Overall Passing Rate"].mean()
                        
})
schools_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757